<?xml version="1.0" encoding="UTF-8"?>
<!-- 从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<configuration>
    <contextName>${APP_NAME}</contextName>
    <springProperty name="APP_NAME" scope="context" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN_SIMPLE"
              value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%cyan(%logger{36}):%line] : %msg %n"/>
    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN_SIMPLE}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.apache.ibatis" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.Connection" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.Statement" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.github.ramerf" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.alibaba.nacos.client.naming.updater" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.alibaba.nacos.naming.beat.sender" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <springProfile name="dev,default,test,local">
        <root>
            <level value="INFO"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
